@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }

  :root {
    --pfd-filter-nav-width: 280px;
    --pfd-product-grid-gap: 10px;
    --pfd-product-grid-cols: 1;
  }
}

.product-add-to-cart-quantity-input {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-add-to-cart-quantity-input input {
  border-color: #afafaf !important;
  border: 2px;
  border-style: solid;
  padding: 4px 4px;
  border-radius: 10px;
  width: 56px;
  text-align: center;
}

.product-add-to-cart-quantity-input input::-webkit-inner-spin-button,
.product-add-to-cart-quantity-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-add-to-cart-quantity-input button {
  width: 32px;
  height: 32px;
  color: #918e8e;
  text-align: center;
  padding: 0px;
  border-radius: 999px;
}

.text-pallete-green { color: #089e1b; }
.text-theme-500 { color: #ff6b14; }
.text-pallete-dark { color: #2e2e2e; }
.text-pallete-gray { color: #9c9c9c; }
.text-pallete-lightgray { color: #d8d8d8; }
.text-pallete-lightergray { color: #ebebeb; }

.hover-text-pallete-green:hover { color: #089e1b; }
.hover-text-theme-500:hover { color: #ff6b14; }
.hover-text-pallete-dark:hover { color: #2e2e2e; }
.hover-text-pallete-gray:hover { color: #9c9c9c; }
.hover-text-pallete-lightgray:hover { color: #d8d8d8; }
.hover-text-pallete-lightergray:hover { color: #ebebeb; }

.bg-pallete-green {
  background-color: #089e1b;
  background: #089e1b;
}

.bg-pallete-dark {
  background-color: #2e2e2e;
  background: #2e2e2e;
}

.bg-pallete-gray {
  background-color: #9c9c9c;
  background: #9c9c9c;
}

.bg-pallete-lightgray {
  background-color: #d8d8d8;
  background: #d8d8d8;
}

.bg-pallete-lightergray {
  background-color: #ebebeb;
  background: #ebebeb;
}

.product-section__filter-wrap {
  width: var(--product-section__filter-width);
}

.product-section__products-wrap {
  width: calc(100% - var(--product-section__filter-width));
}

.related-products-scroll-wrap::-webkit-scrollbar,
.shop-now-scroll-wrap::-webkit-scrollbar {
  display: none;
}

.related-products-scroll-wrap,
.shop-now-scroll-wrap {
  scrollbar-width: none;
}

button:disabled {
  opacity: 0.5;
}

.shop-now-card-wrap,
.related-product-card-wrap {
  min-width: 340px !important;
}

input[type="checkbox"].market {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="checkbox"].market:hover {
  border-color: #888;
}

input[type="checkbox"].market:checked {
  background-color: #ff6b14;
  border-color: #ff6b14;
}

input[type="checkbox"].market:checked::before {
  content: "";
  display: block;
  font-size: 10px;
  color: white;
  text-align: center;
  line-height: 15px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots {
  width: auto !important;
  display: flex !important;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-to-section {
  scroll-margin-top: 75px;
}

@keyframes linear-loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.product_description_content p {
  margin-bottom: 20px;
}

body.gallery-fullscreen-active .product-option-item-link {
  z-index: -10 !important;
  pointer-events: none !important;
}
